@import "part"

*,
*:before,
*:after
	box-sizing: border-box

.grid
	display: grid
	grid-template-columns: 1fr
	grid-template-areas: 'header' 'main' 'footer'
	grid-auto-rows: minmax(100px, auto)

	header
		display: grid
		grid-area: header
		grid-row-gap: 5vh
		background: url(../img/bg.jpg) no-repeat
		background-size: cover
		grid-template-rows: 1fr 86vh
		.heading-container
			display: flex
			justify-content: space-around
			margin-top: 3vh
			flex-direction: row
			.logo
				display: flex
				align-items: center
				justify-content: center
			.menu
				grid-area: menu
				display: flex
				align-items: center
				justify-content: center
				div
					padding: 10px 20px
					a
						text-decoration: none
						color: #ECF0F1
						font-family: sans-serif
						font-size: 1.2em
						text-transform: uppercase
						transition: .3s ease-in
						&:hover
							color: #A2A6A7
		> .container
			display: flex
			font-family: sans-serif
			text-transform: uppercase
			flex-direction: column
			justify-content: center
			align-items: center
			> .title
				> h2
					text-align: center
					font-size: 2.5em
					color: #ECF0F1
			> .call-us
				transition: .1s ease-in
				border: .3vh solid #ECF0F1
				width: 200px
				height: 50px
				display: flex
				justify-content: center
				align-items: center
				border-radius: 5px
				&:hover
					background-color: rgba(0, 0, 0, .1)
					cursor: pointer
				&:active
					background-color: rgba(0, 0, 0, .3)
				a
					text-decoration: none
					color: #ECF0F1

	main
		grid-area: main
		font-family: sans-serif
		display: grid
		grid-template-rows: repeat(5, minmax(100px, auto))
		h3
			align-self: center
			text-transform: uppercase
			font-size: 2em
		.description
			margin-top: 5%
			align-self: center
			margin-bottom: 5%
			font-size: 1.3em
			max-width: 80vh
			text-align: center
		section
			margin: 0 auto
			margin-top: 10%
			max-width: 160vh
			display: flex
			flex-direction: column
			&:last-child
				margin-bottom: 20vh
			.feature-list
				display: flex
				.feat
					position: relative
					display: flex
					flex-direction: column
					.wrapper-pic
						align-self: center
						width: 70px
						height: 70px
						display: flex
						justify-content: center
						align-items: center
					img
						align-self: center
					h4
						text-transform: capitalize
						align-self: center
					p
						align-self: center
						max-width: 80%
						text-align: center
			article
				display: grid
				grid-template-columns: repeat(3, 1fr)
				.element
					text-align: center
					&:first-child
						text-align: right
					&:last-child
						text-align: left
			.portfolio
				display: flex
				justify-content: center
				flex-wrap: wrap
				img
					margin: 5px

			.showcase
				display: grid
				grid-template-columns: 1fr 1fr
				grid-template-rows: minmax(100px, auto)
				div
					padding: 10px 20px
					background: #3A426A
					color: #ECF0F1
					line-height: 1.5
					h3
						margin-top: 10px
						text-align: center
					> .call-us
						margin: 0 auto
						transition: .1s ease-in
						border: .3vh solid #ECF0F1
						width: 200px
						height: 50px
						display: flex
						justify-content: center
						align-items: center
						border-radius: 5px
						&:hover
							background-color: rgba(0, 0, 0, .1)
							cursor: pointer
						&:active
							background-color: rgba(0, 0, 0, .3)
						a
							text-decoration: none
							color: #ECF0F1
							text-transform: uppercase
				img
					width: 100%
					height: auto
			.team
				display: flex
				flex-direction: column
				.team-members
					display: flex
					justify-content: space-around
					text-align: center
					.member
						padding: 5px
						.social-networks
							display: flex
							justify-content: space-around
							.icon
								display: flex
								width: 50px
								justify-content: center
								align-items: center
								height: 50px
								background: #3A99D8
								border-radius: 50%
								transition: .3s
								&:hover
									background: #207498
									text-shadow: none
								a
									text-shadow: 3px 3px 3px rgba(0, 0, 0, .3)
									font-size: 1.8em
									color: #FFF

	footer
		grid-area: footer
		background: #3A426A
		font-family: sans-serif
		.contact-us
			margin: 0 auto
			max-width: 160vh
			display: grid
			grid-template-rows: repeat(3, minmax(100px, auto))
			.text-inners
				h3
					font-size: 1.5em
					text-transform: uppercase
					color: #ECF0F1
					text-align: center
				.description
					color: #ECF0F1
					font-size: 1.2em
					text-align: center
			form
				display: flex
				justify-content: center
				input[type="submit"]
					background-color: transparent
					color: #ECF0F1
					cursor: pointer
					padding: 10px 20px
					border: 1px solid #FFF
					text-transform: uppercase
					transition: .2s
					&:hover
						background: rgba(0, 0, 0, .1)

				input,
				textarea
					outline: none
					border-radius: 5px
					border: 2px solid #FFF
					width: 250px
					padding: 10px 20px
					margin-bottom: 15px
					&:focus
						border: 2px solid #54A0FF
				textarea
					min-height: 157px

					max-height: 400px
					resize: vertical
				div
					display: flex
					flex-direction: column
					padding: 10px
					&:first-child
						order: 2
		.about
			display: flex
			flex-direction: column
			justify-content: center
			max-width: 160vh
			margin: 0 auto
			h4
				color: #ECF0F1
				text-align: center
				a
					color: #7076AF
					text-decoration: none
					&:hover
						text-decoration: underline
			.socials
				display: flex
				justify-content: center
				margin-bottom: 40px
				div
					margin-right: 10px
					display: flex
					font-size: 2em
					width: 60px
					height: 60px
					background: #3A99D8
					justify-content: center
					align-items: center
					border-radius: 50%
					a
						color: #3A426A